.login-component {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 365px;
  margin: auto;
}

.login-component--logo {
  display: block;
  margin: 0 auto 67px;
}

.login-component--title{
  font-size: 24px;
  height: 64px;
  margin-bottom: 20.5px;
  font-weight: bold;
}

.login-component--sub-title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  margin-bottom: 47.5px;
}

.form-login--box---input {
  background: transparent;
  background-color: transparent !important;
  border: none;
  padding: 4.3px;
  border-bottom: 0.7px solid #383743;
  padding-left: 40px;
  width: 351px;
  max-width: 100%;
}

.form-login--box > span {
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}

.form-login--box{
  margin-bottom: 36.5px;
  display: block;
  align-items: center;
  position: relative;
}

.form-login--box---icon {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 6px;
  transform: translateY(-2.5px);
}

.form-login--box---input::placeholder {
  letter-spacing: -0.3px;
  opacity: 0.5;
  font-size: 18px;
}

.form-login--submit {
  border: none;
  outline: none;
  background-color: var(--greeny-blue);
  border-radius: 3.6px;
  height: 52px;
  width: 324px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.form-login--submit:hover {
  transition: .4s ease-in-out;
  opacity: 0.88;
  border-radius: 40px;
}